<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/admin/categories">
                <div class="card-body text-center bg-secondary-theme d-flex align-items-center justify-content-center flex-column">
                    <h2 class="mt-3 text-theme-primary"><i class="fa-solid fa-clipboard-list"></i>&emsp;&emsp;Category</h2>
                    <p>Manage Your Category Details Here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/admin/posts">
                <div class="card-body text-center bg-secondary-theme d-flex align-items-center justify-content-center flex-column">
                    <h2 class="mt-3 text-theme-primary"><i class="fa-solid fa-file-image"></i>&emsp;&emsp;Posts</h2>
                    <p>Manage Your Post Details Here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/admin/subscribers">
                <div class="card-body text-center bg-secondary-theme d-flex align-items-center justify-content-center flex-column">
                    <h2 class="mt-3 text-theme-primary"><i class="fa-solid fa-users"></i>&emsp;&emsp;Subscribers</h2>
                    <p>Manage Your Subscriber List Here.</p>
                </div>
            </div>
        </div>
    </div>
</div>