<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Posts</h3>
                    <p>You can manage all your blog posts here.</p>

                    <button class="btn btn-info btn-theme" routerLink='/admin/posts/new'><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add New Post</button>
                    <button class="btn btn-warning btn-theme mx-2" routerLink='/admin'><i class="fa-solid fa-angles-left"></i>&nbsp;Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Post Image</th>
                                <th>Title</th>
                                <!-- <th>Excerpt</th> -->
                                <th>Category</th>
                                <th class="text-center">Date</th>
                                <th style="padding-left:10%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of postArray;let i=index">
                                <td width="10">{{i+1}}</td>
                                <td width="200"><img class="img img-fluid" src={{post.data.postImgPath}}/></td>
                                <td width="200">{{post.data.title}}</td>
                                <!-- <td width='300'>{{post.data.excerpt}}</td> -->
                                <td>{{post.data.category.category}}</td>
                                <td>{{post.data.createdAt.toMillis() | date}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" routerLink="/admin/posts/new" [queryParams]="{id: post.id}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</button>
                                    <button class="btn btn-sm btn-danger mx-2" (click)="onDelete(post.data.postImgPath,post.id)"><i class="fa-solid fa-trash"></i>&nbsp;Delete</button>

                                    <button *ngIf='!post.data.isFeatured' class="btn btn-sm btn-success ml-2" (click)="onFeatured(post.id,true)"><i class="fa-solid fa-sun"></i>&nbsp;Mark Featured</button>
                                    <button *ngIf='post.data.isFeatured' class="btn btn-sm btn-info ml-2" (click)="onFeatured(post.id,false)"><i class="fa-regular fa-sun"></i>&nbsp;Remove Featured</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>